.idea/
venv/
*.bsp
*.bc
*.tsc
*.ti
*.tf
*.TPC
*.BPC
*.TLS
*.TM
*.bds
kernels/kernels/dsk/aareadme.txt
*.OBJ
*.PNG
*.pyc
kernels/ck/aareadme.txt
kernels/dsk/aareadme.txt
kernels/fk/aareadme.txt
kernels/ik/aareadme.txt
kernels/kernelsreadme.txt
kernels/lsk/aareadme.txt
kernels/mk/aareadme.txt
kernels/pck/aareadme.txt
kernels/sclk/aareadme.txt
kernels/spk/aareadme.txt
*.lbl
*.img
kernels/
